* {
    /* user-select: none; */
}

.main {
    background-image: url(https://c1.wallpaperflare.com/preview/295/958/495/tic-tac-toe-empty-fields-puzzles-play.jpg);
    
}

.nav-link {
    color: rgb(121, 108, 238);
    text-decoration: none;
    font-size: 2.7vw;
    font-family: 'Peralta', cursive;
}

.nav-link:hover {
    color: red;
    transition: 0.7s;
}

img {
    width: 60%;
}

.casilla {
    background-color: rgb(26, 123, 214);
    border: 3px solid red;
    aspect-ratio: 1;
}

.columna-tablero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
