* {
    user-select: none;
}

body {
    background-image: url(https://c1.wallpaperflare.com/preview/295/958/495/tic-tac-toe-empty-fields-puzzles-play.jpg);
}

.main { 
    height: 100vh;
}

.nav-link {
    color: rgb(121, 108, 238);

    text-decoration: none;

    font-size: 4vw;
    font-family: 'Peralta', cursive;
}

.nav-link:hover {
    color: red;

    transition: 0.7s;
}

img {
    width: 80%;
}

.cell {
    background-color: rgb(26, 123, 214);

    display: flex;
    justify-content: center;
    align-items: center;

    color: cyan;

    border: 3px solid red;
    aspect-ratio: 1;

    cursor: pointer;

    font-size: 9vw;
}

.cell:hover {
    transition: 0.4s;
    background-color: rgb(6, 32, 150);
}

.board-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.playerDisplay {
    height: 3em;
    width: 3em;

    font-size: 40px;
    color: red;
}